body {
    background-color: #d6d6d6;
    margin: 0;   
}

/* LOGIN SECTION */
.section-login {
    border: 0px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    font-family: "Roboto", serif;
    text-align: center;
}

.login_section {
    border: 0px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color:  white;
    color: black;
    font-family: "Roboto", serif;
}

/* botão entrar */
.entrar {
    background-color: #313349;
    color: white;
    border: none;
}

.entrar:hover {
    background-color: #3E263D;
}

.entrar:active {
    background-color: #28102b;
}

/* botao cadastro */
.cadastro {
    border: 1px solid #313349;
    background-color: #ffffff;
    color: #28102b;
}