body {
    background-color: E0F2F7; /*Para visualizar mudanças - descartar depois e modificar com: #E0F2F7*/
    margin: 0;   
}

/*NAVBAR*/
nav {
    background-color: #81C784;
}

.navbar{
    
    background-color: #81C784;
}

/* textos navbar */
.nav-link {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    color: white;
}

/* BUTÕES NAVBAR */
.btn-primary {
    color: #313349;
    background-color: white;
    border: none;
} 

.btn-primary:hover {
    background-color: #989898;
}

.btn-secondary {
    background-color: #313349;
}

.btn-secondary:hover{
    background-color: #3E263D;
}

/* HERO SECTION */
.hero {
    background-color: #E0F2F7 ;
    color: black;
    font-family:"Montserrat", serif;
}

/* Cores section-hero*/
.container {
    margin-top: 10px
}